body {
    padding: 0;
    margin: 0;
}

h1 {
    padding: 0;
    margin: 0;
}

.container {
    width: 100%;
    height: 100%;
}

.col1 {
    float: left;
    width: 50%;
}

.col2 {
    float: right;
    width: 50%;
}

.col3 {
    clear: both;
}