body {
    margin: 0;
    padding: 0;
}

.header {
    background-color: black;
    color: chartreuse;
    width: 960px;
}

.content {
    background-color: crimson;
    color: darkcyan;
    width: 960px;
}

.footer{
    background-color: darkgreen;
    color: darkslateblue;
    width: 960px;
}

h1 {
    margin: 0;
}